In [185]:
#Dependencies Pandas and Numpy
import pandas as pd
import numpy as np

In [275]:
#Reference the CSV file
df_schools=pd.read_csv("C:/Users/Sarah/Desktop/schools_complete.csv")
df_students=pd.read_csv("C:/Users/Sarah/Desktop/students_complete.csv")

#Test reference and review data
df_schools

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [106]:
df_students

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
26,26,Melanie Decker,F,9th,Huang High School,63,85
27,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [107]:
#Obtain total number of schools
df_schools.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [108]:
#Set variable for output
schoolcount=df_schools.count()[1]
schoolcount

15

In [109]:
#Obtain total number of students
df_students.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [110]:
#Set variable for output
studentcount=df_students.count()[0]
studentcount

39170

In [111]:
#Merge school csv with students csv and check output
df_studentsinschools=pd.merge(df_schools, df_students, on="school_name")
df_studentsinschools.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [112]:
#Verfiy column names
df_studentsinschools.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype='object')

In [186]:
#Sum budget values in newly merged csv, save to new variable
total_budget=df_schools["budget"].sum()
total_budget

24649428

In [114]:
#Find average math scores
avg_math=df_studentsinschools["math_score"].mean()
avg_math

78.98537145774827

In [115]:
#Find average reading scores
avg_reading=df_studentsinschools["reading_score"].mean()
avg_reading

81.87784018381414

In [116]:
# Sorting the DataFrame based on "math_score" column
percentmathpass_df = df_studentsinschools.sort_values("math_score")
percentmathpass_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
3132,1,Figueroa High School,District,2949,1884411,3132,Deborah Perez,F,10th,92,55
22808,7,Bailey High School,District,4976,3124928,22808,Jason Ortiz,M,9th,98,55
28963,11,Rodriguez High School,District,3999,2547363,28963,David Lee,M,11th,63,55
8423,3,Hernandez High School,District,4635,3022020,8423,Kathleen Raymond,F,10th,86,55
2582,0,Huang High School,District,2917,1910635,2582,Devin Lucas,M,11th,68,55

In [149]:
# Using loc method to determine the number who passed in math
df_passedrows=df_studentsinschools.loc[df_studentsinschools['math_score'] > 69]
df_passedrows

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
30,0,Huang High School,District,2917,1910635,30,Bobby Harris,M,9th,94,99
32,0,Huang High School,District,2917,1910635,32,Candace Phelps,F,11th,93,90
34,0,Huang High School,District,2917,1910635,34,Steven Green,M,11th,65,74
36,0,Huang High School,District,2917,1910635,36,Kevin Bailey,M,10th,76,76
38,0,Huang High School,District,2917,1910635,38,Kimberly Mercado,F,12th,73,77
41,0,Huang High School,District,2917,1910635,41,Jennifer Parks,F,11th,85,95
42,0,Huang High School,District,2917,1910635,42,John Carlson,M,9th,65,89
43,0,Huang High School,District,2917,1910635,43,Megan Roberts,F,9th,66,90
45,0,Huang High School,District,2917,1910635,45,Heidi Jackson,F,11th,64,93
47,0,Huang High School,District,2917,1910635,47,Ellen Brown,F,11th,77,81
...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [150]:
#Set variable to the total passed
totalpassed=df_passedrows.count()
totalpassed[10]

29370

In [151]:
#Divide total passed, variable "totalpassed" by the total student, variable "studentcount" and multiply by 100 to obtain percent passed
percentpassmath=totalpassed/studentcount*100
percentpassmath[10]

74.9808526933878

In [152]:
# Using loc method to determine the number who passed in reading
df_passedrows_reading=df_studentsinschools.loc[df_studentsinschools['reading_score'] > 69]
df_passedrows_reading

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
30,0,Huang High School,District,2917,1910635,30,Bobby Harris,M,9th,94,99
31,0,Huang High School,District,2917,1910635,31,Brian Fernandez,M,10th,97,65
32,0,Huang High School,District,2917,1910635,32,Candace Phelps,F,11th,93,90
33,0,Huang High School,District,2917,1910635,33,Amy Gonzalez,F,12th,95,68
35,0,Huang High School,District,2917,1910635,35,Benjamin Carlson,M,10th,99,61
...,...,...,...,...,...,...,...,...,...,...,...
39139,14,Thomas High School,Charter,1635,1043130,39139,Catherine Lee,F,9th,83,81
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [178]:
#Set variable to the total passed
totalpassed_reading=df_passedrows_reading['reading_score'].count()
totalpassed_reading

33610

In [154]:
#Divide total passed, variable "totalpassed" by the total student, variable "studentcount" and multiply by 100 to obtain percent passed
percentpassreading=totalpassed_reading/studentcount*100
percentpassreading[10]

85.80546336482001

In [155]:
#Overall passing rate, avg of the two above percentages
overallpassrate=(percentpassmath+percentpassreading)/2
#(84.73+96.2)/2
overallpassrate[0]

80.39315802910392

In [23]:
#Set index to school name
df_schools.set_index("school_name")

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [156]:
d = {'Total Schools':[schoolcount], 'Total Students':[studentcount], 'Total Budget':[total_budget], 'Avg Math Scores':[avg_math], 'Avg Reading Scores':[avg_reading], 'Percent Passed Math':[percentpassmath[10]], 'Percent Passed Reading':[percentpassreading[9]], 'Percent Overall District Pass Rate':[overallpassrate[0]]}

df_final = pd.DataFrame(data = d)
df_final

,Total Schools,Total Students,Total Budget,Avg Math Scores,Avg Reading Scores,Percent Passed Math,Percent Passed Reading,Percent Overall District Pass Rate
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,80.393158

In [245]:
#df_schools.describe

In [170]:
# Use groupby to sort the data by "school name" values
grouped_schools = df_studentsinschools.groupby(['school_name'])

# The object returned is a "GroupBy" object and cannot be viewed normally
grouped_schools

# In order to be visualized, a data function must be used...
grouped_schools.head()

grouped_schools.type

In [181]:
grouped_schools_df = grouped_schools.head()
grouped_schools_df. head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [ ]:
#Delete columns don't need in the table

In [179]:
# Finding the unique names of schools to run a value count on to answer how many students in each school
df_studentsinschools["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [188]:
# Finding how many students each school has
df_studentsinschools["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [276]:
df_statsperschools = df_schools

In [277]:
(df_studentsinschools["school_name"] == "Bailey High School").sum()

4976

In [278]:
#Add new column with data from to calculate column budget divided by column student
df_statsperschools ['per_student_budget'] = df_statsperschools['budget']/df_statsperschools['size']
df_statsperschools

,School ID,school_name,type,size,budget,per_student_budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [264]:
#To calculate the average math score need to groupby school and then do the mean of all of the math scores


df_mathandreadingscores=df_studentsinschools.groupby(["school_name"],as_index=False)["math_score","reading_score"].mean()
df_mathandreadingscores

              school_name  math_score  reading_score
0      Bailey High School   77.048432      81.033963
1     Cabrera High School   83.061895      83.975780
2    Figueroa High School   76.711767      81.158020
3        Ford High School   77.102592      80.746258
4     Griffin High School   83.351499      83.816757
5   Hernandez High School   77.289752      80.934412
6      Holden High School   83.803279      83.814988
7       Huang High School   76.629414      81.182722
8     Johnson High School   77.072464      80.966394
9        Pena High School   83.839917      84.044699
10  Rodriguez High School   76.842711      80.744686
11    Shelton High School   83.359455      83.725724
12     Thomas High School   83.418349      83.848930
13     Wilson High School   83.274201      83.989488
14     Wright High School   83.682222      83.955000

In [281]:
df_statsperschools=pd.merge(df_mathandreadingscores, df_statsperschools, on="school_name")
df_statsperschools

,school_name,math_score,reading_score,School ID,type,size,budget,per_student_budget
0,Bailey High School,77.048432,81.033963,7,District,4976,3124928,628.0
1,Cabrera High School,83.061895,83.975780,6,Charter,1858,1081356,582.0
2,Figueroa High School,76.711767,81.158020,1,District,2949,1884411,639.0
3,Ford High School,77.102592,80.746258,13,District,2739,1763916,644.0
4,Griffin High School,83.351499,83.816757,4,Charter,1468,917500,625.0
5,Hernandez High School,77.289752,80.934412,3,District,4635,3022020,652.0
6,Holden High School,83.803279,83.814988,8,Charter,427,248087,581.0
7,Huang High School,76.629414,81.182722,0,District,2917,1910635,655.0
8,Johnson High School,77.072464,80.966394,12,District,4761,3094650,650.0
9,Pena High School,83.839917,84.044699,9,Charter,962,585858,609.0
10,Rodriguez High School,76.842711,80.744686,11,District,3999,2547363,637.0
11,Shelton High School,83.359455,83.725724,2,Charter,1761,1056600,600.0
12,Thomas High School,83.418349,83.848930,14,Charter,1635,1043130,638.0
13,Wilson High School,83.274201,83.989488,5,Charter,2283,1319574,578.0
14,Wright High School,83.682222,83.955000,10,Charter,1800,1049400,583.0

In [296]:
#Add math_scores and reading_scores back to the statsperschool
df_statsperschools ['math_score_original'] = df_students['math_score']
df_statsperschools ['reading_score_original'] = df_students['reading_score']
df_statsperschools


df_statsperschools ["percent_passed_math"]=df_statsperschools ['math_score'] > 69
df_statsperschools

,school_name,math_score,reading_score,School ID,type,size,budget,per_student_budget,math_score_original,reading_score_original,percent_passed_math
0,Bailey High School,77.048432,81.033963,7,District,4976,3124928,628.0,79,66,True
1,Cabrera High School,83.061895,83.975780,6,Charter,1858,1081356,582.0,61,94,True
2,Figueroa High School,76.711767,81.158020,1,District,2949,1884411,639.0,60,90,True
3,Ford High School,77.102592,80.746258,13,District,2739,1763916,644.0,58,67,True
4,Griffin High School,83.351499,83.816757,4,Charter,1468,917500,625.0,84,97,True
5,Hernandez High School,77.289752,80.934412,3,District,4635,3022020,652.0,94,94,True
6,Holden High School,83.803279,83.814988,8,Charter,427,248087,581.0,80,82,True
7,Huang High School,76.629414,81.182722,0,District,2917,1910635,655.0,69,96,True
8,Johnson High School,77.072464,80.966394,12,District,4761,3094650,650.0,87,95,True
9,Pena High School,83.839917,84.044699,9,Charter,962,585858,609.0,84,96,True
10,Rodriguez High School,76.842711,80.744686,11,District,3999,2547363,637.0,70,90,True
11,Shelton High School,83.359455,83.725724,2,Charter,1761,1056600,600.0,77,78,True
12,Thomas High School,83.418349,83.848930,14,Charter,1635,1043130,638.0,79,64,True
13,Wilson High School,83.274201,83.989488,5,Charter,2283,1319574,578.0,79,71,True
14,Wright High School,83.682222,83.955000,10,Charter,1800,1049400,583.0,67,85,True

In [315]:
#Divide total passed, variable "mathpassscorebyschool" by the total student, column "size and multiply by 100 to obtain percent passed
df_studentsinschools ["percent_passed_math"]=df_studentsinschools ['math_score'] > 69
df_statsperschools.merge(df_studentsinschools.groupby(["school_name"],as_index=False)["percent_passed_math"].sum())

#df_statsperschools ["percent_passed_math"]
#percentpassmath=totalpassed/studentcount*100
#percentpassmath[10]
#df_statsperschools

,school_name,math_score,reading_score,School ID,type,size,budget,per_student_budget,math_score_original,reading_score_original,percent_passed_math
0,Bailey High School,77.048432,81.033963,7,District,4976,3124928,628.0,79,66,3318.0
1,Cabrera High School,83.061895,83.975780,6,Charter,1858,1081356,582.0,61,94,1749.0
2,Figueroa High School,76.711767,81.158020,1,District,2949,1884411,639.0,60,90,1946.0
3,Ford High School,77.102592,80.746258,13,District,2739,1763916,644.0,58,67,1871.0
4,Griffin High School,83.351499,83.816757,4,Charter,1468,917500,625.0,84,97,1371.0
5,Hernandez High School,77.289752,80.934412,3,District,4635,3022020,652.0,94,94,3094.0
6,Holden High School,83.803279,83.814988,8,Charter,427,248087,581.0,80,82,395.0
7,Huang High School,76.629414,81.182722,0,District,2917,1910635,655.0,69,96,1916.0
8,Johnson High School,77.072464,80.966394,12,District,4761,3094650,650.0,87,95,3145.0
9,Pena High School,83.839917,84.044699,9,Charter,962,585858,609.0,84,96,910.0
10,Rodriguez High School,76.842711,80.744686,11,District,3999,2547363,637.0,70,90,2654.0
11,Shelton High School,83.359455,83.725724,2,Charter,1761,1056600,600.0,77,78,1653.0
12,Thomas High School,83.418349,83.848930,14,Charter,1635,1043130,638.0,79,64,1525.0
13,Wilson High School,83.274201,83.989488,5,Charter,2283,1319574,578.0,79,71,2143.0
14,Wright High School,83.682222,83.955000,10,Charter,1800,1049400,583.0,67,85,1680.0

In [316]:
df_statsperschools=df_statsperschools.merge(df_studentsinschools.groupby(["school_name"],as_index=False)["percent_passed_math"].sum(),on="school_name")
df_statsperschools["percent_passed_math"]=df_statsperschools["percent_passed_math"]/df_statsperschools["size"]*100

In [317]:
df_statsperschools

,school_name,math_score,reading_score,School ID,type,size,budget,per_student_budget,math_score_original,reading_score_original,percent_passed_math
0,Bailey High School,77.048432,81.033963,7,District,4976,3124928,628.0,79,66,66.680064
1,Cabrera High School,83.061895,83.975780,6,Charter,1858,1081356,582.0,61,94,94.133477
2,Figueroa High School,76.711767,81.158020,1,District,2949,1884411,639.0,60,90,65.988471
3,Ford High School,77.102592,80.746258,13,District,2739,1763916,644.0,58,67,68.309602
4,Griffin High School,83.351499,83.816757,4,Charter,1468,917500,625.0,84,97,93.392371
5,Hernandez High School,77.289752,80.934412,3,District,4635,3022020,652.0,94,94,66.752967
6,Holden High School,83.803279,83.814988,8,Charter,427,248087,581.0,80,82,92.505855
7,Huang High School,76.629414,81.182722,0,District,2917,1910635,655.0,69,96,65.683922
8,Johnson High School,77.072464,80.966394,12,District,4761,3094650,650.0,87,95,66.057551
9,Pena High School,83.839917,84.044699,9,Charter,962,585858,609.0,84,96,94.594595
10,Rodriguez High School,76.842711,80.744686,11,District,3999,2547363,637.0,70,90,66.366592
11,Shelton High School,83.359455,83.725724,2,Charter,1761,1056600,600.0,77,78,93.867121
12,Thomas High School,83.418349,83.848930,14,Charter,1635,1043130,638.0,79,64,93.272171
13,Wilson High School,83.274201,83.989488,5,Charter,2283,1319574,578.0,79,71,93.867718
14,Wright High School,83.682222,83.955000,10,Charter,1800,1049400,583.0,67,85,93.333333

In [318]:
df_studentsinschools ["percent_passed_reading"]=df_studentsinschools ['reading_score'] > 69

df_statsperschools=df_statsperschools.merge(df_studentsinschools.groupby(["school_name"],as_index=False)["percent_passed_reading"].sum(),on="school_name")
df_statsperschools["percent_passed_reading"]=df_statsperschools["percent_passed_reading"]/df_statsperschools["size"]*100

In [329]:
df_statsperschools

,school_name,math_score,reading_score,School ID,type,size,budget,per_student_budget,percent_passed_math,percent_passed_reading,overall_percent_passed
0,Bailey High School,77.048432,81.033963,7,District,4976,3124928,628.0,66.680064,81.933280,74.306672
1,Cabrera High School,83.061895,83.975780,6,Charter,1858,1081356,582.0,94.133477,97.039828,95.586652
2,Figueroa High School,76.711767,81.158020,1,District,2949,1884411,639.0,65.988471,80.739234,73.363852
3,Ford High School,77.102592,80.746258,13,District,2739,1763916,644.0,68.309602,79.299014,73.804308
4,Griffin High School,83.351499,83.816757,4,Charter,1468,917500,625.0,93.392371,97.138965,95.265668
5,Hernandez High School,77.289752,80.934412,3,District,4635,3022020,652.0,66.752967,80.862999,73.807983
6,Holden High School,83.803279,83.814988,8,Charter,427,248087,581.0,92.505855,96.252927,94.379391
7,Huang High School,76.629414,81.182722,0,District,2917,1910635,655.0,65.683922,81.316421,73.500171
8,Johnson High School,77.072464,80.966394,12,District,4761,3094650,650.0,66.057551,81.222432,73.639992
9,Pena High School,83.839917,84.044699,9,Charter,962,585858,609.0,94.594595,95.945946,95.270270
10,Rodriguez High School,76.842711,80.744686,11,District,3999,2547363,637.0,66.366592,80.220055,73.293323
11,Shelton High School,83.359455,83.725724,2,Charter,1761,1056600,600.0,93.867121,95.854628,94.860875
12,Thomas High School,83.418349,83.848930,14,Charter,1635,1043130,638.0,93.272171,97.308869,95.290520
13,Wilson High School,83.274201,83.989488,5,Charter,2283,1319574,578.0,93.867718,96.539641,95.203679
14,Wright High School,83.682222,83.955000,10,Charter,1800,1049400,583.0,93.333333,96.611111,94.972222

In [328]:
df_statsperschools ["overall_percent_passed"]=(df_statsperschools ['percent_passed_math']+ df_statsperschools['percent_passed_reading'])/2

In [338]:
#Create a table that highlights the top 5 performing schools based on Overall Passing Rate.
df_statsperschools.sort_values("overall_percent_passed", ascending=False).head(n=5)

,school_name,math_score,reading_score,School ID,type,size,budget,per_student_budget,percent_passed_math,percent_passed_reading,overall_percent_passed
1,Cabrera High School,83.061895,83.975780,6,Charter,1858,1081356,582.0,94.133477,97.039828,95.586652
12,Thomas High School,83.418349,83.848930,14,Charter,1635,1043130,638.0,93.272171,97.308869,95.290520
9,Pena High School,83.839917,84.044699,9,Charter,962,585858,609.0,94.594595,95.945946,95.270270
4,Griffin High School,83.351499,83.816757,4,Charter,1468,917500,625.0,93.392371,97.138965,95.265668
13,Wilson High School,83.274201,83.989488,5,Charter,2283,1319574,578.0,93.867718,96.539641,95.203679

In [339]:
#Create a table that highlights the top 5 least performing schools based on Overall Passing Rate.
df_statsperschools.sort_values("overall_percent_passed").head(n=5)

,school_name,math_score,reading_score,School ID,type,size,budget,per_student_budget,percent_passed_math,percent_passed_reading,overall_percent_passed
10,Rodriguez High School,76.842711,80.744686,11,District,3999,2547363,637.0,66.366592,80.220055,73.293323
2,Figueroa High School,76.711767,81.158020,1,District,2949,1884411,639.0,65.988471,80.739234,73.363852
7,Huang High School,76.629414,81.182722,0,District,2917,1910635,655.0,65.683922,81.316421,73.500171
8,Johnson High School,77.072464,80.966394,12,District,4761,3094650,650.0,66.057551,81.222432,73.639992
3,Ford High School,77.102592,80.746258,13,District,2739,1763916,644.0,68.309602,79.299014,73.804308